@import "../../sass/variables";


.main {
    width: 100%;
    min-height: 100vh;
    background-color: $ghost-light;
    padding: 50px 0 ;
}

.title {
    text-align: center;
    margin-bottom: 50px;
}
.inner {
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 30px;
}