@import "../../sass/variables";


.main {
    min-height: 100vh;
    padding: 50px 0 ;
    width: 100%;
    max-width: 1430px;
	margin: 0 auto;
    @media screen and (max-width : 1476px) {
        max-width: 100%;
        padding: 50px 20px;   
    }
}

.title {
    text-align: center;
    margin-bottom: 50px;
}
.inner {
    display: grid;
    grid-template-columns: 30% 1fr;
    gap: 30px;
    @media screen and (max-width : 1000px) {
        grid-template-columns: 1fr;
    }
}